.card {
  width: 165px;
  height: 236px;

  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding-left: 15px;
  
  margin-right: 35px;
  margin-bottom: 28px;
}

.image{
  margin-left: 30px;
}

.title {
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.idCard {
  margin-top: 0px;
  margin-bottom: 8px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #8e8787;
  display: flex;
}
.types-list{
  display: flex;
  margin-bottom: 10px;
}

.category {
  width: 50.53px;
  height: 20px;

  padding-top: 7px;
  margin-right: 8px;
  
  background: #ffcb05;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  
  text-align: center;
  color: #ffffff;
}

.details {
  width: 147px;
  height: 32px;

  background: #D2D4D6;
  border-radius: 8px;
}
.categoryCard2 {
  width: 50.53px;
  height: 20px;
  margin: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #ff3326;
  border-radius: 8px;
}
.seeDetails {
  width: 147px;
  height: 32px;

  background: #ffcb05;
  border-radius: 8px;
}
