.logo{
  width: 206px;
  height: 76px;
  top: 33px;
  left: 138px;
  position: absolute;
 
}

.imageSide{
  width: 883px;
  height: 715px;
  left: 557px;

  position: absolute;

}

.title {
  text-align: left;
  font-family: "Poppins";
  position: absolute;
  width: 365px;
  height: 108px;
  left: 138px;
  top: 188px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  color: #1e1e1e;
}

.loginButton{
  position: absolute;
  width: 365px;
  height: 54px;
  top: 500px;
  left: 138px;

  background-color: #ffcb05;
  border-radius: 8px;
  border-color: #ffcb05;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  text-align: center;
}

.inputs{
  width: 365px;
  height: 54px;
  top: 344px;
  left: 138px;

  border: 1px solid #7D7E80;
  box-sizing: border-box;
  border-radius: 8px;

  position: absolute;

}
.textInput{
  height: 18px;
  width: 270px;
  top: 362px;
  left: 164px;

  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;



}



