.background {
  height: 100%;
  width: 100%;

  background-image: url("./light1.png");
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
}

.form {
  text-align: left;
  margin-left: 138px;
  margin-top: 33px;
  
}

.logoLogin {
  width: 206px;
  height: 76px;
  margin-bottom: 79px;
  background-image: url("./image1.png");
}

h2 {
  width: 365px;
  height: 108px;

  text-align: left;
  margin-bottom: 48px;

  font-family: "Poppins";
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  color: #1e1e1e;
}

.inputEmail {
  width: 365px;
  height: 54px;

  margin-bottom: 15px;
  padding-left: 15px;

  border: 1px solid #7d7e80;
  box-sizing: border-box;
  border-radius: 8px;
}

.inputSenha {
  width: 365px;
  height: 54px;

  margin-bottom: 33px;
  padding-left: 15px;

  border: 1px solid #7d7e80;
  box-sizing: border-box;
  border-radius: 8px;
}

.loginButton {
  width: 365px;
  height: 54px;

  background-color: #ffcb05;
  border-radius: 8px;
  border-color: #ffcb05;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  text-align: center;
}
